# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/

# OS/IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
